<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <nav class='navbar navbar-inverse'>
            <div class='container-fluid'>
                <ul class='nav navbar-nav'>
                    <li><a [routerLink]="['/AdminDashboard']">Home</a></li>
                    <li><a [routerLink]="['/Car']">Додати авто</a></li>
                    <li><a [routerLink]="['/UploadCarPhoto']">Завантажити зображення авто</a></li>
                    <li><a [routerLink]="['/AllCar']">Показати всі авто</a></li>
                    <li><a [routerLink]="['/AdminLogout']">Вийти</a></li>
                </ul>
            </div>
        </nav>
        <div class="panel panel-default">
            <div class="panel-heading">Додати зображення авто</div>
            <div class='panel-body'>
               
                    <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">Модель</label>
                                <select required name="Car"
                                        #refCar="ngModel"
                                        class="form-control" [(ngModel)]="selectedCar">
                                    <option value="undefined">Будь ласка, введіть значення</option>
                                    <option *ngFor="let car of CarData"
                                            [ngValue]="car.C_Id">
                                        {{car.Model_Name}}
                                    </option>
                                </select>
                                <div *ngIf="!refCar.valid  && (refCar.dirty || refCar.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="!refCar.errors.required">
                                        Необхідно вказати модель!
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">Завантажити фото</label>
                                <input type="file" class="form-control" required (change)="fileChange($event)" placeholder="Upload file" accept=".jpg,.jpeg,.png,.pdf,.doc,.docx">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <br />
                                <button type="submit" [disabled]="!f.form.valid" class="btn btn-success">Завантажити фото</button>
                            </div>
                        </div>
                    </form>
                
            </div>
        </div>
    </div>
</body>
</html>