
    <nav class='navbar navbar-inverse'>
        <div >
            <h3 style="margin: 0 auto; width: 50%; color: lightgray; padding-top: 10px;">
                <span style="margin-left: 35%;">Реєстрація</span>
            </h3>
        </div>
    </nav>
    <div class="container">
                <div class="panel-body">
                    <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">Логін</label>
                                <input type="text" class="form-control" name="Username" [(ngModel)]="UserMasterModel.Username" maxlength="50" (blur)="CheckUsernameExist()" #refUsername="ngModel" id="Username" required>
                                <div *ngIf="!refUsername.valid  && (refUsername.dirty || refUsername.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="!refUsername.errors.required">
                                        Необхідно ввести логін!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">Ім'я</label>
                                <input type="text" class="form-control" name="Username1"  maxlength="50" id="Username1" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">Прізвище</label>
                                <input type="text" class="form-control" name="Username2" maxlength="50" id="Username2" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">Пароль</label>
                                <input required type="password"
                                       class="form-control"
                                       name="password"
                                       maxlength="20"
                                       #refpassword="ngModel"
                                       [(ngModel)]="UserMasterModel.Password"
                                       validateEqual="confirmPassword" reverse="true">
                                <div *ngIf="!refpassword.valid  && (refpassword.dirty || refpassword.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="!refpassword.errors.required">
                                        Необхідно ввести пароль!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">Підтвержений пароль</label>
                                <input type="password"
                                       #refconfirmPassword="ngModel"
                                       class="form-control"
                                       maxlength="20"
                                       name="confirmPassword"
                                       [ngModel]="UserMasterModel.confirmPassword"
                                       required
                                       validateEqual="password">
                                <div class="alert alert-danger" [hidden]="refconfirmPassword.valid || (refconfirmPassword.pristine)">
                                    Паролі не співпадають!
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">Адреса</label>
                                <input type="text" class="form-control" name="Address" maxlength="50" [(ngModel)]="UserMasterModel.Address" #refAddress="ngModel" id="Address" required>
                                <div *ngIf="!refAddress.valid  && (refAddress.dirty || refAddress.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="!refAddress.errors.required">
                                        Потрібно вказати адресу!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">Дата народження</label>
                                <my-date-picker name="mydate" [options]="myDatePickerOptions" #refBirthdate="ngModel"
                                                [(ngModel)]="UserMasterModel.BirthdateView" required></my-date-picker>
                                <div *ngIf="!refBirthdate.valid  && (refBirthdate.dirty || refBirthdate.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="!refBirthdate.errors.required">
                                        Потрібно вказати дату народження!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">Контактний телефон</label>
                                <input type="text" class="form-control" name="Contact_No" maxlength="10" [(ngModel)]="UserMasterModel.Contact_No" pattern="^\d+$" #refContact_No="ngModel" id="Contact_No" required>
                                <div *ngIf="!refContact_No.valid  && (refContact_No.dirty || refContact_No.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="refContact_No.valid || (refContact_No.pristine)">
                                        Дозволені лише цифри!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="name">Email</label>
                                <input type="text" class="form-control" name="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="UserMasterModel.Email" #refEmail="ngModel" id="Email" required>
                                <div *ngIf="!refEmail.valid  && (refEmail.dirty || refEmail.touched)"
                                     class="alert alert-danger">
                                    <div [hidden]="refEmail.valid || (refEmail.pristine)">
                                        Потрібно вказати електронну адресу у форматі <i>dtoroshchuk@gmail.com</i>.
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div style="margin-top:10px;" class="col-md-4">
                                <button type="submit" [disabled]="!f.form.valid" class="btn btn-warning">Підтвердити</button>
                                <span style="display:inline-flex; float: right">
                                    <span style="padding-top: 5px; color: white">Вже зареєстровані? </span><a class="btn btn-warning" style="align-content:center" [routerLink]="['/Login']">Увійти</a>
                                </span>
                            </div>
                        </div>

                    </form>
                </div>
        <!--<div style="float:right; width: 50%;">
            <div style="margin-left: 63px;margin-top: 60px;">
                <br />
                <br />
                <css-carousel></css-carousel>
                <br />
                <br />
            </div>
        </div>-->
    </div>
