
    <div class="container">
        <div class="row">
            <div class="col-md-offset-0 col-md-6 col-lg-4">
                <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">

                    <div class="form-login">
                        <h4>Welcome back</h4>
                        <label for="name">Логін</label>
                        <input type="text" class="form-control"
                               name="Username"
                               [(ngModel)]="LoginModel.Username"
                               #refUsername="ngModel"
                               id="Username"
                               required>
                        <div *ngIf="!refUsername.valid  && (refUsername.dirty || refUsername.touched)"
                             class="alert alert-danger">
                            <div [hidden]="!refUsername.errors.required">
                                Потрібно вказати логін!
                            </div>

                        </div>

                        <br />

                        <label for="name">Пароль</label>
                        <input required type="password"
                               class="form-control"
                               name="password"
                               #refpassword="ngModel"
                               [(ngModel)]="LoginModel.Password">
                        <div *ngIf="!refpassword.valid  && (refpassword.dirty || refpassword.touched)"
                             class="alert alert-danger">
                            <div [hidden]="!refpassword.errors.required">
                                Потрібно вказати пароль!
                            </div>
                        </div>
                        <br />

                        <div class="wrapper">
                            <span class="group-btn">
                                <button type="submit" [disabled]="!f.form.valid" class="btn btn-success">Submit</button>
                            </span>
                        </div>
                        <br />
                        <div class="wrapper">
                            <span class="group-btn">
                                <a class="btn btn-success" [routerLink]="['/UserRegistration']">Need a new Account Sign UP</a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
